 *{
        block-size: border-box;
        margin: 0;
        padding: 0;
 }


 body{
 	font-family: 'Roboto', sans-serif;
 }

header{
	background: #1B4EBD;
	height: 70px;
 	width: 100%;
 	margin-top: -10px;
 	position: fixed;
 	z-index: 100;
}

 .tituloPrincipal h1{
 	margin-top: 5px;
 	padding: 10px;
	padding-left: 0.60em;
	margin: 0.4em 1px;
  	text-shadow: 2.1em 0.1em 0.04em #333;
  	text-shadow: 0.1em 0.1em 0.2em black;
  	color: #fff;
  	font-style: 18px;
  	font-size: 28px;
 }

 .tituloPrincipal a{
 	text-decoration: none;
 }

.menu nav{
	margin-left: 440px;
	color: #fff;
	margin-top: -50px;
	
}

#btnMenu{
	display: none;
	cursor: pointer;
}

header nav label{
	display: none;
}

 .menu ul{
 	display: flex;
 	list-style: none;
 	width: 1200px;
 }

 .menu ul ul{
 	display: none;
 	background: #1B4EBD;
 	margin-top: 9px;
 }

.menu a{
	margin-top: -14px;
	color: #fff;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
}

.menu a:hover{
	background: rgb(0,0,0,0.3);
}

.menu a span{
	margin-left: 5px;
}


.menu ul li:hover ul{
	display: block;
	position: absolute;
	width: 220px;
}





footer{
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	align-items: center;
  	background-color: black;
  	padding: 1.5em 1em;
  	color: #fff;
  	margin-top: 0px;

}


